{% block header %}
<a href="/"><img
  class="headerBanner"
  src="/images/headerBanner.jpg"
  alt="Bannière du header"
/></a>
<nav>
  <ul class="headerList">
    <li><a href="/">ACCUEIL</a></li>
    <li><a href="/list-products?category=soins">SOINS</a></li>
    <li><a href="/list-products?category=armements">ARMEMENTS</a></li>
    <li><a href="/list-products?category=vêtements">VÊTEMENTS</a></li>
    <li><a href="/contact">CONTACT</a></li>
    {% if not isLoggedIn %}
    <li><a href="/register">INSCRIPTION</a></li>
    <li><a href="/login">CONNEXION</a></li>
    {% else %}
    <li>
        <div class="profile-container">
            <a href="#" class="profile">PROFILE</a>
            <div class ="sous-categories">
              <a href = "#">Liste de mes commandes</a>
              <a href = "#">Adresse de livraison</a>
              <a href = "/logout">Se deconnecter</a>
            </div>
        </div>
    </li>
    {% endif %}
  </ul>
  <section id="basket">
    {% block basket %}
    {{ render(controller("App\\Controller\\BasketController::displayBasket")) }}
    {% endblock %}
  </section>
</nav>
{% endblock %}
