{# templates/partials/footer.html.twig #}
<link rel="stylesheet" href="{{ asset('css/footer.css') }}" />
<footer>
  <img
    class="footerBanner"
    src="/images/footerBanner.jpg"
    alt="Bannière du header"
  />
  <nav>
    <ul class="headerList"></ul>
  </nav>
</footer>
