main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.slideshowContainer {
    width:70%;
    margin-top: 40px;
    position:relative;
}


.slideshowContainer img {
    opacity:0;
    width: 100%;
    position: absolute;
    border-radius: 10px;

}

#aboutUs, #bestSale, #newItems {
    width:100%;
    margin-top: 40px;
    color:white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#aboutUs p {
    margin-top:20px;
}

.sectionContainer {
    width:70%;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    padding-right: 100px;
    box-sizing: border-box;
    border-radius: 10px;
    border: 1px solid #9E9E9E;
    overflow: hidden;

}

.bestSaleGallery {
    width: 200%;
    margin-top: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.cardContainerBestSale {
    width:10%;
    max-height: 310px;
    text-align: center;
    overflow: hidden;
    border: 1px solid #9E9E9E;
    margin-left: 80px;
    margin-bottom: 40px;
}

.arrowCarouselContainer {
    width:100%;
    position: relative;
}

.arrowCarouselContainer img {
    width:5%;
    position: absolute;
    top:240px;
    cursor: pointer;
}

.nextArrow {
    right:-80px; 
}

.gallery {
    width: 100%;
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.cardContainer {
    width:20%;
    max-height: 310px;
    text-align: center;
    overflow: hidden;
    border: 1px solid #9E9E9E;
    margin-left: 80px;
    margin-bottom: 40px;
}

.cardContainer img, .cardContainerBestSale img {
    width:100%;
    object-fit: contain;
    background-image: url('/images/card_background.jpg');
    background-size: contain; 
}
.cardText {
    z-index: 2;
    padding-top: 10px;
    height:200px;
    background-color: black;
    border-top: 1px solid #9E9E9E;
    transition: transform 1s;
}

.cardText:hover {
    transform: translateY(-65px);
}

.cardName {
    width:100%;
    padding-left: 5%;
    padding-right: 5%;
    white-space: nowrap;      
    overflow: hidden;          
    text-overflow: ellipsis; 
}

.buyButton {
    width:75%;
    height: 40px;
    margin-top: 10px;
    background-color: #0A2536;
    color:white;
    border:1px solid #679B33;
    border-radius: 20px;
}

.newItemsAll {
    width:100%;
    text-align: right;
}