.banner {
    width:100%;
    height: 393px;
    margin-top: 40px;
    display: flex;
    justify-content: center;
}

.bannerPicture {
    width: 70%; /* Assurez-vous que l'image occupe toute la largeur du conteneur */
    height: auto; /* Ajustez la hauteur si nécessaire */
    object-fit: cover;
    object-position: 0 -250px;
    border-radius:10px;
}

#details, #categories {
    width:100%;
    margin-top: 40px;
    color:white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sectionContainer {
    position: relative;
    width:70%;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    box-sizing: border-box;
    border-radius: 10px;
    border: 1px solid #9E9E9E;
}

#details .sectionContainer p {
    margin-top: 40px;
    width: 70%;
}

.detailsPicture {
    position: absolute;
    top:0;
    right:0;
    height: 100%;
    border-radius: 0 10px 10px 0px;
}

.bestSaleGallery {
    width: 100%;
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.cardContainer {
    width:20%;
    max-height: 330px;
    text-align: center;
    overflow: hidden;
    border: 1px solid #9E9E9E;
    margin-left: 80px;
    margin-bottom: 40px;

}
.cardContainer img{
    width:100%;
    object-fit: contain;
    background-image: url('/images/card_background.jpg');
    background-size: contain; 
}
.cardText {
    padding-top: 13px;
    height:200px;
    background-color: black;
    border-top: 1px solid #9E9E9E;
    transition: transform 1s;
}

.categoriesContainer {
    display: flex;
}