.errorMessage {
    width:100%;
    margin-top: 40px;
    display:flex;
    justify-content: center;
}
.errorMessage h1 {
    border: 1px solid red;
    width:50%;
    padding: 20px;
    text-align: center;
}
.track-list {
    display: flex;
    align-items: center;
    list-style: none;
    width: 600px;
    /* background-color: rgb(224, 173, 173); */
}
.track-list li {
    font-size: 25px;
    margin-right: 10px;
    font-family: 'Creepster', cursive;
    text-shadow: 2px 2px 4px #000;
}
.track-list li a{
    text-decoration: none;
    color: white;
}
.track-list span {
    margin-right: 8px;
    margin-left: 0px;
    font-size: 30px;
    font-family: 'Creepster', cursive;
    text-shadow: 2px 2px 4px #000;
    color: white !important;
}

/* .track-list li.selected a {
    color: #679B33;
} */

.track-list li:last-child {
    margin-right: 0;
}

#product {
    width:100%;
    margin-top: 40px;
    color:white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sectionContainer {
    position: relative;
    width:70%;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    box-sizing: border-box;
    border-radius: 10px;
    border: 1px solid #9E9E9E;
}

.pictureContainer {
    width:100%;
    display: flex;
    margin-top: 20px;
}

.priceContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.productDetails {
    width:100%;
}

.productPicture {
    width:50%;
}

.productPrice {
    margin:0;
    font-size: 48px!important;
}

.buyButton {
    width:50%;
    height: 40px;
    margin-top: 10px;
    background-color: #0A2536;
    color:white;
    border:1px solid #679B33;
    border-radius: 5px;
    transition: transform 0.5s;
}

.hover:hover {
    transform: scale(1.05);
}