body {
    
    background-image: url('/img/bodyBackground.jpg');
    background-repeat: repeat; 
    background-size: contain; 
    font-family: 'DM Sans', sans-serif;
    color: White;
    overflow-x: hidden;
}

h1 {
    font-size: 30px !important;
}

nav {
    font-size: 24px;
    font-weight: bold;
    position:relative;
    border-top: 1px solid #9E9E9E;
    border-bottom: 1px solid #9E9E9E;
}

p {
    font-size: 18px;
}

.pDetails {
    font-size: 18px;
}

.darkGreen {
    color: #186F37 !important;
    margin:0;
}

.lightGreen {
    color: #679B33;
    margin: 0;
}

