{% block footer %}
    <div class ="FooterContainer">
        <div class ="colone1">
            <ul>
                <h2>COORDONNÉES</h2>
                <li>44 impasse des décapités</li>
                <li>721121 Zombiland</li>
                <li class ="num">06 22 67 93 01 22</li>
                <li>contact@necrostore.net</li>
            </ul>
        </div>

        <div class ="colone2">
            <ul>
                <h2>Navigation</h2>
                <li><a href ="/">Accueil</li>
                <li><a href ="/list-products">Soins</li>
                <li><a href ="/list-products">Armements</li>
                <li><a href ="/list-products">Vêtements</li>
                <li><a href ="/contact">Contact</li>
            </ul>
        </div>
        
        <div class ="colone3">
            <ul>
                <h2>Besoin d'aide ?</h2>
                <li><a href ="#">Vos commandes</li>
                <li><a href ="/login">Vous connecter</li>
            </ul>
        </div>
    </div>
{% endblock %}