{% extends 'base.html.twig' %} {% block main %}

<section id="contact">
  <div class="sectionContainer">
    <img
      src="/images/pinup.jpg"
      class="contactPicture"
      alt="Image pin up zombie"
    />
    <div class="sectionRight">
      <div class="containerCoordinates">
        <h1 class="darkGreen">{{ "Coordonnées :" | upper }}</h1>
        <br />
        <p>Adresse: 44 Impasse des décapités, 721121 Zombiland</p>
        <p>Télélphone : 06 22 93 23 13 54</p>
        <p>E-mail : contact@necrostore.net</p>
      </div>
      <div class="formContactContainer">
        <h1 class="darkGreen">{{ "formulaire de contact :" | upper }}</h1>
        <div class="formContactBody">
          <div class="inputsFullName">
            <input
              type="text"
              class="form-control"
              id="floatingInput"
              placeholder="Ex: Henry"
            />
            <input
              type="text"
              class="form-control"
              id="floatingInput"
              placeholder="Ex: Henry"
            />
          </div>
          <input
            type="email"
            class="form-control"
            id="floatingInput"
            placeholder="name@example.com"
          />
          <select class="form-control" aria-label="Default select example">
            <option selected>Motif de contact</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>

          <textarea
            class="form-control"
            id="exampleFormControlTextarea1"
            rows="3"
            placeholder="Votre message"
          ></textarea>
          <button class="contactButton">Envoyer</button>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
