{% extends 'base.html.twig' %}



{% block body %}
<link href="/css/item.css" rel="stylesheet">

<body>

    <div >  

            <div class="container">
                <img src="/images/target_zombie.jpg" alt="Target zombie" />
            </div>

            <div class= "block1">

                <img src="/images/products/hache.png" alt= "Hache" width=20% height=30%/>

                    <h2> Armes de mélée </2h>
                        <p>  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus. 
                        Suspendisse lectus tortor, dignissim sit amet, adipiscing nec, ultricies sed, dolor. 
                        Cras elementum ultrices diam. Maecenas ligula massa, varius a, semper congue, euismod non, mi. 
                        Proin porttitor, orci nec nonummy molestie, enim est eleifend mi, non fermentum diam nisl sit amet 
                        erat. Duis semper. Duis arcu massa, scelerisque vitae, consequat in, pretium a, enim. Pellentesque 
                        congue. Ut in risus volutpat libero pharetra tempor. Cras vestibulum bibendum augue. Praesent egestas 
                        leo in pede. Praesent blandit odio eu enim. Pellentesque sed dui ut augue blandit sodales. Vestibulum
                        ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Aliquam nibh.
                        Mauris ac mauris sed pede pellentesque fermentum. Maecenas adipiscing ante non diam sodales 
                        hendrerit.
                        </p>
            </div>

                    <div class= "produits">
                            <h2> Tous nos produits </h2>
                            
                        <div class= "block2">

                            <div class= "image"> <img src="/images/products/kit_survie.png" alt="kit de survie 1">
                            <button type="button">Acheter</button> 
                                </div>

                            <div class= "image"> <img src="/images/products/kit_survie.png" alt="kit de survie 2"></div>
                            <div class= "image"> <img src="/images/products/kit_survie.png" alt="kit de survie 3"></div>
                            <div class= "image"> <img src="/images/products/kit_survie.png" alt="kit de survie 4"></div>
                            <div class= "image"> <img src="/images/products/kit_survie.png" alt="kit de survie 5"></div>
                            <div class= "image"> <img src="/images/products/kit_survie.png" alt="kit de survie 6"></div>
                            <div class= "image"> <img src="/images/products/kit_survie.png" alt="kit de survie 7"></div>
                            <div class= "image"> <img src="/images/products/kit_survie.png" alt="kit de survie 8"></div>
                            <div class= "image"> <img src="/images/products/kit_survie.png" alt="kit de survie 9"></div>
                            <div class= "image"> <img src="/images/products/kit_survie.png" alt="kit de survie 10"></div>
                            <div class= "image"> <img src="/images/products/kit_survie.png" alt="kit de survie 11"></div>
                            <div class= "image"> <img src="/images/products/kit_survie.png" alt="kit de survie 12"></div>
                        </div>


                    </div>

    </div>
        

</body>
{% endblock %}
